<!--
<a class="btn btn-primary-dark" data-bs-toggle="offcanvas" href="filterMenu" role="button" aria-controls="filterMenu">
  Filter
</a>
-->
<button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#filterMenu" aria-contols="filterMenu">
  <i class="fas fa-angle-double-right"></i>
  Filter
</button>
<div class="offcanvas offcanvas-start bg-secondary" tabindex="-1" id="filterMenu" aria-labelledby="filterMenuLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="filterMenuLabel">Filter</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div class="btn-group-md" role="group" aria-label="Day Selection">
      <button type="button" class="btn btn-primary">Monday</button>
      <button type="button" class="btn btn-primary">Tuesday</button>
      <button type="button" class="btn btn-primary">Wednesday</button>
      <button type="button" class="btn btn-primary">Thursday</button>
      <button type="button" class="btn btn-primary">Friday</button>
      <button type="button" class="btn btn-primary">Saturday</button>
      <button type="button" class="btn btn-primary">Sunday</button>
    </div>
    <label for="priceRange" class="form-label">Price Range</label>
    <input type="range" class="form-range" min="1" max="20" step="1" id="priceRange">
  </div>
</div>
