<div class="navbar navbar-dark bg-dark navbar-expand-sm">
  <a class="navbar-brand" href="#">
    <img src="/Pix/logo.png" width="30" height="30" alt="" loading="lazy">
    <Strong>Booze Ctrl</Strong>
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#">Monday</a>
      </li> 
      <li class="nav-item">
        <a class="nav-link" href="#">Tuesday</a>
      </li> 
      <li class="nav-item">
        <a class="nav-link" href="#">Wednesday</a>
      </li> 
      <li class="nav-item">
        <a class="nav-link" href="#">Thursday</a>
      </li> 
      <li class="nav-item">
        <a class="nav-link" href="#">Friday</a>
      </li> 
      <li class="nav-item">
        <a class="nav-link" href="#">Saturday</a>
      </li> 
      <li class="nav-item">
        <a class="nav-link" href="#">Sunday</a>
      </li> 
    </ul>
  </div>
</div>
